
<link href="/css/node.css" rel="stylesheet">
<div class="panel col-md-8" id="node-list">
    <div class="inner">
        <div class="header clearfix">
            当前话题
        </div>

        <div id="node-list">
            <div class="cell">
                <div class="user-icon block">
                    <a href="#">
                        <img src="/img/icon0.jpg">
                    </a>
                </div>
                <div class="block count">
                    <a href="#">20</a>/100
                </div>
                <div class="block">
                    <a href="#">Node.js与MongoDB在Windows环境下的安装</a>
                </div>
                <div class="time block" style="float: right;">
                    5个小时前
                </div>
            </div>
            <!-- 提示-->
            <div id="user-icon-info">
                wangboo
            </div>

        </div>

        <!-- 某个节点，展示所有帖子-->
        <div style="text-align: center">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    </div>
</div>
 <div class="clearfix"></div>
