
<link href="/css/node.css" rel="stylesheet">
<script src="/js/node.js" type="text/javascript"></script>
<div class="panel col-md-8" id="node-list">
    <div class="inner">
        <div class="header clearfix">
            当前话题
            <div class="pull-right" style="margin-right: 10px">
                <a href="/item/new" class="btn btn-default">发帖</a>
            </div>
        </div>

        <div id="node-list">
            <%for(var i=0;i<10;i++){%>
            <div class="cell">
                <div class="user-icon block">
                    <a href="#">
                        <img src="/img/icon0.jpg" index="<%=i%>">
                    </a>
                </div>
                <div class="block count">
                    <a href="#">20</a>/100
                </div>
                <div class="block">
                    <a href="#">Node.js与MongoDB在Windows环境下的安装</a>
                </div>
                <div class="time block" style="float: right;">
                    5个小时前
                </div>
            </div>
            <%}%>
            <!-- 提示-->
            <div id="user-icon-info">
                <div class="name">wangboo</div>
                <div class="level">
                    <span class="label label-default" id="level">1</span>级
                </div>
                <p id="gameInfo">魔兽世界1区铁炉堡服</p>
                <p id="gameName">三季稻(法师)</p>
                <p id="gameLevel">等级90级</p>
                <p id="gameScore">装等：19081</p>

            </div>

        </div>

        <!-- 某个节点，展示所有帖子-->
        <div style="text-align: center">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    </div>
</div>
 <div class="clearfix"></div>
<script type="text/javascript">
    //构造测试数据
    var userInfoArr = [];
    var actors = ["法师","牧师","术士","德鲁伊","萨满","猎人","战士","圣骑士","熊猫人","黑暗骑士"];
    for(var i=0;i<10;i++) {
        userInfoArr.push({
            level:      Math.round(Math.random()*10+10),
            name:       "名字"+i,
            gameLevel:  Math.round(Math.random()*50+20),
            gameActor:  actors[Math.round(Math.random()*actors.length-1)],
            gameScore:  Math.round(Math.random()*20000)
        });
    }
</script>