#node-list .header{
    line-height: 200%;
    background-color: darkgray;
    padding: 8px 0px 8px 12px;
}
#node-list .inner{
    border: 1px darkgrey solid;
    border-radius: 2px;
}
/*定义block*/
#node-list .cell .block {
    float: left;
    text-align: center;
    font-size: 14px;
    color: hsl(0,0%,70%);
    line-height: 48px;
}
/*单元格*/
#node-list .cell{
    padding: 5px 3px 5px 10px;
    box-shadow: 0 0 1px 0 hsla(0,27%,42%,.5);
    overflow: hidden;
}
/*头像*/
#node-list .user-icon{
    margin: 0 8px 0 5px;
}
#node-list img{
    width: 40px;
    height: 40px;
    border: 1px #f5f5f5 solid;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 hsla(0,27%,42%,.5);
}
/*帖子数*/
#node-list .count{
    width: 100px;
    text-align: center;
}
#node-list .time{
}

/*头像弹出说明*/
#node-list #user-icon-info{
    position: absolute;
    border-radius: 10px;
    border: 2px #dca7a7 solid;
    left: 100px;
    width: 150px;
    background: transparent;
    background-color: #f9f9f9;
}

#node-list .name {
    margin: 4px 0px 4px 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
#node-list .level {
    display: inline-block;
    float: right;
    margin-right: 8px;
}
#node-list span {
    font-size: 12px;
    display: inline-block;
}

#node-list p {
    margin: 2px 0px 4px 2px;
    padding-left: 4px;
}


