<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">基本资料</a></li>
            <li><a href="#">头像</a></li>
            <li><a href="#">高级</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <form role="form" method="user/<%=user.id%>/update"></form>


    </div>

</div>
