<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/fullAvatarEditor.js"></script>
<div style="width:800px;margin: 0 auto;">
    <h1 style="text-align:center">富头像上传编辑器演示</h1>
    <div>
        <p id="swfContainer">
            本组件需要安装Flash Player后才可使用，请从
            <a href="http://www.adobe.com/go/getflashplayer">这里</a>
            下载安装。
        </p>
    </div>
    <button type="button" id="upload">自定义上传按钮</button>
</div>
<script type="text/javascript">
    swfobject.addDomLoadEvent(function () {
        var swf = new fullAvatarEditor("swfContainer", {
                    id: 'swf',
                    upload_url: '/user/create',
                    src_url: "/icon/default.jpg",
                    src_upload:2
                }, function (msg) {
                    switch(msg.code) {
                        case 5 :
                            if(msg.type == 0) {
                                if(msg.content.sourceUrl) {
                                    alert("头像已成功保存至服务器，url为：\n" + msg.content.sourceUrl);
                                }
                                alert("头像已成功保存至服务器，url为：\n" + msg.content.avatarUrls.join("\n"));
                            }
                            break;
                    }
                }
        );
        document.getElementById("upload").onclick=function(){
            swf.call("upload");
        };
    });
</script>
